<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orkut - Login</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
  <div class="login-container">
    <div>
      <form class="login-form" id="login-form">
        <span>Welcome to Orkut!</span>
        <div class="form-field">
          <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        <div class="form-field">
          <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn-devbook">Login</button>
        <a href="/signup">
          Click here to create your account
        </a>
      </form>
    </div>
  </div>
</body>

</html>
