<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orkut - Signup</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
</head>

<body>
  <div class="main">
    <div class="signup-container">
      <div>
        <form class="signup-form" id="signup-form">
          <span>Create your account now!</span>

          <div class="form-field">
            <input type="name" name="name" id="name" placeholder="Enter your name" required>
          </div>

          <div class="form-field">
            <input type="nick" name="nick" id="nick" placeholder="Enter your username" required>
          </div>

          <div class="form-field">
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
          </div>

          <div class="form-field">
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
          </div>

          <div class="form-field">
            <input type="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" required>
          </div>

          <button type="submit" class="btn-devbook">Signup</button>

          <a href="/">
            Already have an account? Click here
          </a>
        </form>
      </div>
    </div>
  </div>
</body>

{{ template "scripts" }}
<script src="/assets/js/signup.js"></script>

</html>