<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orkut - Update Password</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  <style>
    .btn-custom {
      background-color: #655CC9;
      border-color: #655CC9;
    }

    .btn-custom:hover {
      background-color: #574AB6;
      border-color: #574AB6;
    }
  </style>
</head>

<body>
  {{ template "header" }}
  <div class="container-fluid">
    <div class="row mt-4 mx-2 mx-md-5">
      <div class="col-12">
        <h3>Update Password</h3>
        <form id="update-password">
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required placeholder="Enter your current password" />
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required placeholder="Enter your new password" />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required placeholder="Confirm your new password" />
          </div>
          <button type="submit" class="btn btn-info btn-custom">Update Password</button>
        </form>
      </div>
    </div>
  </div>
  {{ template "footer" }}
</body>

{{ template "scripts" }}
<script src="/assets/js/users.js"></script>

</html>