<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orkut - {{ .User.Name }}</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
  {{ template "header" }}

  {{ $followedByUserLogged := false }}
  {{ range .User.Followers }}
  {{ if (eq .ID $.UserLoggedID)}}
  {{ $followedByUserLogged = true }}
  {{ end}}
  {{ end }}

  <div class="container-fluid">
    <div class="row mt-4 mx-2 mx-md-5">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ .User.Name }} - {{ .User.Nick }} - Member Since: {{ .User.CreatedAt.Format "02/01/2006" }}
            </h6>

            <p class="card-text">
              <a href="#" data-toggle="modal" data-target="#followers-modal">
                Followers: {{ len .User.Followers }}
              </a>
            </p>

            <p class="card-text">
              <a href="#" data-toggle="modal" data-target="#following-modal">
                Following: {{ len .User.Following }}
              </a>
            </p>


            <a href="#" class="card-link">
              {{ if $followedByUserLogged }}
              <button id="unfollow" class="btn btn-info" data-user-id="{{ .User.ID }}">
                Unfollow
              </button>
              {{ else }}
              <button id="follow" class="btn btn-info" data-user-id="{{ .User.ID }}">
                Follow
              </button>
              {{ end }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 mx-2 mx-md-5">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> Posts </h5>
            <p class="card-text">
              {{ range .User.Posts }}
              {{ template "post-without-permissions" . }}
              {{ else }}
            <p class="text-muted text-center">
              No posts found!
            </p>
            {{ end }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ template "followers-modal" .User }}
  {{ template "following-modal" .User }}
  {{ template "footer" }}
</body>

{{ template "scripts" }}
<script src="/assets/js/posts.js"></script>
<script src="/assets/js/users.js"></script>

</html>